@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
.logo {
    width: 25% !important;
}

.ct-tab {
    font-family: "Noto Sans", sans-serif !important;
    background-color: #fdfdfd !important;
    color: #838ca3 !important;
    border: 2px solid #ebeff5 !important;
    box-sizing: border-box !important;
    border-radius: 10px 10px 0px 0px !important;
}

.ct-tab-title {
    font-family: "Noto Sans", sans-serif !important;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
}

.active-tab {
    font-family: "Noto Sans", sans-serif !important;
    background-color: #4e6ef1;
    color: #0046fe !important;
    overflow: hidden !important;
}

.v-text-field.keyword {
    margin-top: -1px !important;
    background: #fdfdfd !important;
    border-radius: 0px 10px 10px 10px !important;
}

.v-text-field.keyword-2 {
    background: #fdfdfd !important;
    border-radius: 10px !important;
}

.keyword input {
    color: #838CA3 !important;
    font-size: 15px !important;
}

.result-counter {
    font-family: "Noto Sans", sans-serif !important;
    color: #838CA3;
    font-size: 12px;
}

.time-slot {
    font-family: "Noto Sans", sans-serif !important;
    font-size: 14px;
    color: #838CA3;
}

.suggestion-card {
    border: 2px solid #e5e5e5 !important;
    border-radius: 10px !important;
}

.cv-url a {
    font-family: "Noto Sans", sans-serif !important;
    color: #0046fe !important;
    font-size: 14px;
    font-weight: 600;
}

.result-title {
    font-family: "Noto Sans", sans-serif !important;
    color: #002178;
    font-size: 14px;
    font-weight: 600;
}

.result-title span {
    color: #838ca3;
}

.cv-results-card {
    border-bottom: 1px solid #EBEFF5 !important;
}

.v-btn--fab.v-size--default.message-btn {
    border: 1px solid #DAF0F6 !important;
}

.job-search-title a {
    font-family: "Noto Sans", sans-serif !important;
    font-size: 16px;
    font-weight: 600;
    color: #0046fe !important;
}

.job-search-company-name {
    font-family: "Noto Sans", sans-serif !important;
    font-size: 16px;
    font-weight: bold;
    color: #002178 !important;
}

.apply-now a {
    font-family: "Noto Sans", sans-serif !important;
    font-size: 14px;
    color: #0046FE !important;
    text-decoration: none;
}

@media screen and (max-width: 959px) {
    .logo {
        width: 35% !important;
    }
}