@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
.logo {
    width: 25% !important;
}

.ct-tab {
    font-family: "Noto Sans", sans-serif !important;
    background-color: #fdfdfd !important;
    color: #838ca3 !important;
    border: 2px solid #ebeff5 !important;
    box-sizing: border-box !important;
    border-radius: 10px 10px 0px 0px !important;
}

.ct-tab-title {
    font-family: "Noto Sans", sans-serif !important;
    font-size: 0.8rem !important;
    font-weight: 400 !important;
}

.active-tab {
    font-family: "Noto Sans", sans-serif !important;
    background-color: #4e6ef1;
    color: #0046fe !important;
    overflow: hidden !important;
}

.v-text-field {
    margin-top: -1px !important;
    background: #fdfdfd !important;
    border-radius: 0px 10px 10px 10px !important;
}

@media screen and (max-width: 959px) {
    .logo {
        width: 35% !important;
    }
}